/* EXPORTAÇÃO DE FONTS */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

/* RESET DA PÁGINA */

*{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    background-image: url(https://w.forfun.com/fetch/d7/d70a37f2c4501b318149dc0b73b7d9b3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 69%;
    background-attachment: fixed;
    height: 100vh;
    scroll-behavior: smooth;
}

/* CSS DO CABEÇALHO */

header {
    width: 100%;
    background-color: rgb(66, 202, 139);
    height: 77px;
    display: flex;
    justify-content: space-between;
}

.cabecalho-left{
    display: flex;
    align-items: center;
    gap: 13px;
}

.cabecalho-left h4 {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
}

.cabecalho-left img {
    max-width: 60px;
    margin-left: 80px;
    box-shadow: 2px 2px 19px rgba(0, 0, 0, 0.579);
}

.cabecalho-right li a {
    text-decoration: none;
}

.cabecalho-right li a:hover{
    color: #ffffff7a;
    transition: all 910ms;
}

.cabecalho-right ul {
    display: flex;
    margin: 30px 120px;
    gap: 35px;
}

.cabecalho-right ul li {
    font-size: 20px;
    color: white;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;

    /* CSS DOS ICONS */
}

.i-hover a {
    color: white;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    line-height: 20px;
    text-decoration: none;
}

.fa-house {
    padding-right: 8px;
    font-size: 25px;
    line-height: 20px;
}

.i-hover:hover{
    color: rgba(255, 255, 255, 0.444);
    transition: all 720ms;
    text-decoration: none;
}

.fa-sack-dollar{
    padding-right: 8px;
    font-size: 25px;
    line-height: 20px;
}

.fa-facebook {
    font-size: 30px;
    padding-right: 8px;
}

.cabecalho-right button {
   border-radius: 30px;
   border: none;
   background-color: rgb(25, 164, 25);
   color: white;
   font-size: 16px;
   font-family: 'Rubik', sans-serif;
   font-weight: 500;
   padding: 10px 25px;
   margin-top: -17px;
   cursor: pointer;
   box-shadow: 2px 2px 32px rgba(0, 0, 0, 0.559);;
   
}

.cabecalho-right button:hover {
    transition: all 990ms;
    background-color: rgb(10, 73, 10);
}


/* MAIN DO SITE */


.content-meio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
}

.content-meio h1 {
    font-family: 'Rubik', sans-serif;
    color: white;
    margin-bottom: 30px;
    font-size: 68px;
}

.content-meio h5 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    line-height: 35px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.spn1 {
    font-size: 25px;
    color: green;
    padding: 0px 10px;
    cursor: pointer;
}

.spn1:hover {
    transition: all 720ms;
    color: rgb(66, 202, 139);
    font-size: 27px;
}

.content-meio button {
    padding: 15px 60px;
    border: none;
    border-radius: 18px;
    color: white;
    font-weight: bold;
    background-color: green;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 100px;
    box-shadow: 10px 10px 32px rgba(0, 0, 0, 0.439);
}

.content-meio button:hover {
    background-color: rgb(7, 71, 7);
    transition: all 1000ms;
    font-size: 22px;
}

/* RODAPÉ DA PÁGINA puta */

.fot {
    width: 100%;
    height: 100px;
    background-color: black;
    margin-top: 100px;
    color: white;
    text-align: center;
    padding-top: 3px;
}

.fot h6 {
    color: rgba(255, 255, 255, 0.643);
    margin-top: 30px;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}



